In [86]:
import pandas as pd
import numpy as np
import os,sys

os.chdir('/data/arpit.goel/27_MarketBasketAnalysis/')

orders=pd.read_csv('02.ExtractedData/orders.csv')
products_prior=pd.read_csv('02.ExtractedData/order_products__prior.csv')
products_train=pd.read_csv('02.ExtractedData/order_products__train.csv')

## Predict order items based on past orders

In [10]:
user_products=pd.merge(pd.concat([products_prior,products_train]),orders[['order_id','user_id']],on='order_id')
user_products=user_products.groupby(['user_id','product_id'])['order_id'].size().reset_index()
user_products.columns=['user_id','product_id','count']
user_products.sort_values(by=['user_id','product_id','count'],ascending=[1,1,0],inplace=True)
user_products=user_products.groupby('user_id')['product_id'].apply(lambda x: ' '.join(map(str,x)))

In [23]:
count_products=pd.merge(pd.concat([products_prior,products_train]),orders[['order_id','user_id']],on='order_id')
count_products=count_products.groupby(['user_id','order_id'])['product_id'].size().reset_index()
count_products.columns=['user_id','order_id','product_id']
count_products['order_counts']=1
count_products=count_products.groupby(['user_id'])[['order_counts','product_id']].sum()
count_products['avg_products']=np.ceil(1.0*count_products['product_id']/count_products['order_counts'])

In [38]:
prediction_orders=orders[orders['eval_set']=='test']
prediction_orders['products']=prediction_orders['user_id'].map(user_products).fillna('None')
prediction_orders['num_products']=prediction_orders['user_id'].map(count_products['avg_products']).fillna(1)
prediction_orders['products']=prediction_orders[['products','num_products']].apply(lambda x: ' '.join(x[0].split(' ')[:int(x[1])]),axis=1)
prediction_orders[['order_id','products']].to_csv('03.BaselineResults/FavouriteUserProducts.csv',index=False)

/data/arpit.goel/anaconda/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/data/arpit.goel/anaconda/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
/data/arpit.goel/anaconda/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

## Predict order items based on past 10 orders

In [76]:
user_products=pd.merge(pd.concat([products_prior,products_train]),orders[['order_id','user_id']],on='order_id')

output=[]
for name, group in user_products.groupby('user_id'):
    last_10_orders=group.groupby('order_id')['order_id'].max().tail(10)
    #last_10_orders_products=pd.merge(group,last_10_orders,on='order_id')
    last_10_orders_products=group.join(last_10_orders,on='order_id',rsuffix='a')
    output_dict={}
    output_dict['user_id']=name
    avg_num_products=int(1.0*len(last_10_orders_products)/len(last_10_orders))
    output_dict['products_sorted']=' '.join(map(str,last_10_orders_products['product_id'].value_counts().index.tolist()[:avg_num_products]))
    output.append(output_dict)
    
output=pd.Series(output)

prediction_orders=orders[orders['eval_set']=='test']
prediction_orders['products']=prediction_orders['user_id'].map(output)
prediction_orders[['order_id','products']].to_csv('03.BaselineResults/FavouriteUserProductsP10Orders.csv',index=False)

/data/arpit.goel/anaconda/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [88]:
orders=orders.sort_values(by=['user_id','order_number'])
orders['day_count']=orders.fillna(0).groupby('user_id')['days_since_prior_order'].apply(np.cumsum)

In [95]:
users_freq=pd.crosstab(orders['user_id'],orders['eval_set'])

In [100]:
users_freq[users_freq['prior']==3]

eval_set  prior  test  train
user_id
6             3     1      0
8             3     0      1
9             3     0      1
25            3     1      0
33            3     1      0
44            3     0      1
51            3     1      0
53            3     0      1
106           3     0      1
119           3     0      1
120           3     0      1
130           3     0      1
156           3     1      0
170           3     1      0
196           3     1      0
199           3     0      1
203           3     0      1
207           3     1      0
224           3     0      1
231           3     0      1
253           3     0      1
259           3     0      1
263           3     1      0
269           3     1      0
277           3     1      0
282           3     0      1
286           3     0      1
288           3     0      1
298           3     0      1
308           3     1      0
...         ...   ...    ...
205894        3     1      0
205896        3     1      0
205928        3     0      1
205929        3     0      1
205935        3     0      1
205936        3     1      0
205939        3     1      0
205941        3     1      0
205956        3     1      0
205963        3     0      1
205964        3     0      1
205995        3     1      0
205996        3     1      0
206004        3     0      1
206010        3     0      1
206014        3     0      1
206050        3     0      1
206070        3     1      0
206076        3     0      1
206078        3     1      0
206100        3     0      1
206113        3     0      1
206121        3     0      1
206122        3     1      0
206134        3     0      1
206135        3     1      0
206173        3     1      0
206179        3     1      0
206186        3     0      1
206205        3     0      1

[23986 rows x 3 columns]

In [116]:
aisles=pd.read_csv('02.ExtractedData/aisles.csv')
products=pd.read_csv('02.ExtractedData/products.csv')
departments=pd.read_csv('02.ExtractedData/departments.csv')
eg=pd.merge(user_products[user_products['user_id']==51],products,on='product_id')
eg=pd.merge(eg,aisles,on='aisle_id')
eg=pd.merge(eg,departments,on='department_id')
eg.sort_values(by=['order_id','add_to_cart_order'])

,order_id,product_id,add_to_cart_order,reordered,user_id,product_name,aisle_id,department_id,aisle,department
0,1099991,10017,1,0,51,Tilapia Filet,39,12,seafood counter,meat seafood
2,1099991,40604,2,0,51,Feta Cheese Crumbles,21,16,packaged cheese,dairy eggs
13,1099991,30489,3,0,51,Original Hummus,67,20,fresh dips tapenades,deli
16,1099991,44359,4,0,51,Organic Small Bunch Celery,83,4,fresh vegetables,produce
22,1099991,24507,5,0,51,Sun-Ripened Dried Tomatoes,81,15,canned jarred vegetables,canned goods
14,1099991,45302,6,0,51,Mini Falafel With Tahini Sauce,1,20,prepared soups salads,deli
24,1099991,445,7,0,51,Almond Honey Protein+ Bar,3,19,energy granola bars,snacks
25,1099991,20115,8,0,51,Organic Trail Mixer Gluten Free Chewy Granola ...,3,19,energy granola bars,snacks
26,1099991,5463,9,0,51,Original Oat Bar,3,19,energy granola bars,snacks
5,1099991,33000,10,0,51,Pure Irish Butter,36,16,butter,dairy eggs
4,1099991,46650,11,0,51,Special Reserve Extra Sharp Cheddar Cheese,21,16,packaged cheese,dairy eggs
6,1505429,36929,1,0,51,"Milk, Vitamin D",84,16,milk,dairy eggs
8,1505429,15712,2,0,51,Organic Traditional Plain Kefir,120,16,yogurt,dairy eggs
10,1505429,18798,3,0,51,"Kefir, Perfect Blueberry",120,16,yogurt,dairy eggs
12,1505429,33135,4,0,51,Organic Blueberry Kefir,120,16,yogurt,dairy eggs
15,1505429,23029,5,0,51,Organic Uncured Sliced Black Forest Ham,96,20,lunch meat,deli
11,2151817,18798,1,1,51,"Kefir, Perfect Blueberry",120,16,yogurt,dairy eggs
9,2151817,15712,2,1,51,Organic Traditional Plain Kefir,120,16,yogurt,dairy eggs
7,2151817,36929,3,1,51,"Milk, Vitamin D",84,16,milk,dairy eggs
3,2151817,40604,4,1,51,Feta Cheese Crumbles,21,16,packaged cheese,dairy eggs
1,2151817,10017,5,1,51,Tilapia Filet,39,12,seafood counter,meat seafood
17,2151817,19678,6,0,51,Organic Russet Potato,83,4,fresh vegetables,produce
18,2151817,24964,7,0,51,Organic Garlic,83,4,fresh vegetables,produce
23,2151817,44449,8,0,51,Organic Tomato Sauce,81,15,canned jarred vegetables,canned goods
19,2151817,47626,9,0,51,Large Lemon,24,4,fresh fruits,produce
20,2151817,13176,10,0,51,Bag of Organic Bananas,24,4,fresh fruits,produce
21,2151817,26209,11,0,51,Limes,24,4,fresh fruits,produce
27,2151817,42536,12,0,51,Gluten Free Original Granola,57,14,granola,breakfast
28,2151817,36362,13,0,51,"Baked Crackers, Cheddar Cheese",48,14,breakfast bars pastries,breakfast

In [117]:
orders[orders['user_id']==51]

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,day_count
747,1099991,51,prior,1,3,14,NaN,0
748,1505429,51,prior,2,2,14,13,13
749,2151817,51,prior,3,5,14,17,30
750,2174416,51,test,4,0,14,16,46