In [1]:
from itertools import product
import pandas as pd
import numpy as np
import os,sys
from datetime import datetime,timedelta
from multiprocessing import Pool
%matplotlib inline
os.chdir('/data/arpit.goel/33_GrocerySales/')

In [31]:
master=pd.read_csv('/data/arpit.goel/33_GrocerySales/06.Master/01.Master_2017-07-01.csv',index_col=['date','id','store_nbr','item_nbr'])

In [34]:
master['unit_sales']=np.clip(master['unit_sales'],0,100)
master[['unit_sales']+idv].corr()

,unit_sales,f1_28,f2_28,f3_28,f4_28,days_sold_28,f1_42,f2_42,f3_42,f4_42,...,mais3,mais1,madw,f5,f6,f7,f8,f10,f11,f12
unit_sales,1.000000,0.672653,0.685913,0.672300,0.684522,0.292815,0.675492,0.689276,0.679325,0.691004,...,0.636934,0.568717,0.738504,-0.034530,-0.055264,0.113040,0.119380,NaN,NaN,NaN
f1_28,0.672653,1.000000,0.967097,0.948398,0.929556,0.750372,0.990477,0.958227,0.943606,0.924145,...,0.887879,0.789610,0.890207,0.014743,0.026995,0.082611,0.041311,NaN,NaN,NaN
f2_28,0.685913,0.967097,1.000000,0.920171,0.949095,0.720433,0.960681,0.987636,0.918493,0.942888,...,0.877265,0.780196,0.875504,0.004261,0.030038,0.167855,0.183310,NaN,NaN,NaN
f3_28,0.672300,0.948398,0.920171,1.000000,0.978050,0.713256,0.939606,0.911839,0.981019,0.958616,...,0.835792,0.743821,0.895307,0.006832,-0.040106,0.072098,0.046349,NaN,NaN,NaN
f4_28,0.684522,0.929556,0.949095,0.978050,1.000000,0.694675,0.923096,0.938643,0.962277,0.979554,...,0.833178,0.741507,0.886785,0.001540,-0.036374,0.146706,0.157264,NaN,NaN,NaN
days_sold_28,0.292815,0.750372,0.720433,0.713256,0.694675,1.000000,0.738263,0.706867,0.704701,0.683955,...,0.638318,0.567581,0.534402,0.013670,0.027486,0.075109,0.025907,NaN,NaN,NaN
f1_42,0.675492,0.990477,0.960681,0.939606,0.923096,0.738263,1.000000,0.967049,0.953257,0.932964,...,0.879249,0.783480,0.898670,0.014871,0.027167,0.077144,0.036100,NaN,NaN,NaN
f2_42,0.689276,0.958227,0.987636,0.911839,0.938643,0.706867,0.967049,1.000000,0.925143,0.953999,...,0.867299,0.773156,0.880336,0.006040,0.031554,0.176252,0.194805,NaN,NaN,NaN
f3_42,0.679325,0.943606,0.918493,0.981019,0.962277,0.704701,0.953257,0.925143,1.000000,0.976597,...,0.832622,0.742346,0.909578,0.008684,-0.035356,0.067081,0.043374,NaN,NaN,NaN
f4_42,0.691004,0.924145,0.942888,0.958616,0.979554,0.683955,0.932964,0.953999,0.976597,1.000000,...,0.828538,0.738732,0.896945,0.004413,-0.029979,0.153289,0.166914,NaN,NaN,NaN
days_sold_42,0.293249,0.739674,0.710858,0.703734,0.685999,0.971764,0.750883,0.717841,0.717601,0.695298,...,0.626642,0.559624,0.538527,0.013890,0.027550,0.069421,0.019731,NaN,NaN,NaN
f1_91,0.672383,0.966186,0.940594,0.916557,0.903189,0.710068,0.981742,0.951021,0.936068,0.917493,...,0.861341,0.770116,0.908484,0.015243,0.026975,0.063636,0.022971,NaN,NaN,NaN
f2_91,0.687316,0.941000,0.966673,0.895311,0.919497,0.683018,0.952880,0.981740,0.911618,0.937492,...,0.852928,0.763283,0.887482,0.008271,0.032754,0.180984,0.204682,NaN,NaN,NaN
f3_91,0.683157,0.927583,0.906213,0.947542,0.932634,0.683296,0.942853,0.916692,0.969887,0.949271,...,0.823274,0.736596,0.929242,0.006601,-0.045713,0.055396,0.031621,NaN,NaN,NaN
f4_91,0.694906,0.911657,0.929211,0.929910,0.949542,0.664517,0.923889,0.943449,0.949154,0.970678,...,0.820713,0.734500,0.912588,0.003611,-0.039405,0.160104,0.177333,NaN,NaN,NaN
days_sold_91,0.286942,0.697236,0.671027,0.663241,0.647414,0.890955,0.714750,0.683740,0.683284,0.662472,...,0.596575,0.537324,0.534498,0.014254,0.026644,0.059583,0.009978,NaN,NaN,NaN
f1_182,0.671034,0.945272,0.922819,0.896475,0.885781,0.682293,0.958920,0.931676,0.914071,0.898611,...,0.849600,0.760804,0.917954,0.015267,0.026962,0.062836,0.023048,NaN,NaN,NaN
f2_182,0.684570,0.917585,0.944444,0.872851,0.898348,0.653892,0.927882,0.957528,0.887570,0.914448,...,0.838785,0.752019,0.891752,0.009377,0.033665,0.199946,0.230663,NaN,NaN,NaN
f3_182,0.684058,0.914232,0.895907,0.922340,0.910605,0.661288,0.927719,0.904911,0.941940,0.925027,...,0.818831,0.733806,0.943144,0.006047,-0.040502,0.056008,0.033862,NaN,NaN,NaN
f4_182,0.695197,0.895690,0.915514,0.902526,0.923283,0.640726,0.906208,0.927942,0.919168,0.941335,...,0.814337,0.730085,0.921175,0.002919,-0.033953,0.177796,0.200592,NaN,NaN,NaN
days_sold_182,0.256916,0.609423,0.587569,0.579016,0.566359,0.769031,0.623186,0.597492,0.595078,0.578502,...,0.531274,0.481396,0.490529,0.013144,0.024337,0.053430,0.008453,NaN,NaN,NaN
f1_365,0.664995,0.924304,0.903778,0.876382,0.867111,0.658376,0.936180,0.910777,0.892151,0.878299,...,0.836037,0.750043,0.919171,0.015381,0.026875,0.058063,0.018732,NaN,NaN,NaN
f2_365,0.678757,0.897729,0.924196,0.853968,0.879204,0.632071,0.906837,0.935402,0.867443,0.893578,...,0.824513,0.740420,0.892540,0.010151,0.033608,0.205132,0.240581,NaN,NaN,NaN
f3_365,0.681298,0.896012,0.879310,0.900628,0.890451,0.639654,0.907796,0.886499,0.918218,0.903056,...,0.807808,0.725109,0.948175,0.007120,-0.042250,0.050794,0.029317,NaN,NaN,NaN
f4_365,0.692905,0.878374,0.898523,0.882428,0.902532,0.621312,0.887853,0.909379,0.897778,0.918182,...,0.802825,0.720931,0.925636,0.003753,-0.036287,0.182021,0.209626,NaN,NaN,NaN
days_sold_365,0.223140,0.523406,0.504898,0.496454,0.486036,0.652074,0.533957,0.512455,0.508971,0.495571,...,0.462968,0.421584,0.437459,0.012213,0.021993,0.048659,0.008664,NaN,NaN,NaN
last_sold,-0.039904,-0.310673,-0.301969,-0.293247,-0.288134,-0.490232,-0.280311,-0.270574,-0.266628,-0.259868,...,-0.153528,-0.152247,-0.085562,0.019890,0.003549,-0.013278,-0.000066,NaN,NaN,NaN
mawk,0.722008,0.921586,0.902837,0.874267,0.866563,0.549653,0.930143,0.907514,0.886847,0.875445,...,0.842096,0.754871,0.965765,0.014087,0.024874,0.053630,0.020359,NaN,NaN,NaN
mais,0.677308,0.978187,0.955617,0.927000,0.916074,0.726036,0.979008,0.953476,0.932505,0.918458,...,0.919497,0.830162,0.905036,0.010774,0.026037,0.082087,0.038124,NaN,NaN,NaN
mais365,0.599836,0.850889,0.831662,0.806859,0.798243,0.625337,0.861685,0.838030,0.821209,0.808489,...,0.770843,0.693822,0.842443,0.012809,0.024567,0.056026,0.018333,NaN,NaN,NaN
mais112,0.655878,0.945679,0.921335,0.897402,0.885050,0.702093,0.960289,0.931311,0.915910,0.898755,...,0.846411,0.758348,0.895836,0.012900,0.026093,0.061174,0.020481,NaN,NaN,NaN
mais56,0.666479,0.976549,0.949282,0.926832,0.912303,0.732530,0.991305,0.959259,0.945589,0.925995,...,0.870616,0.777293,0.896283,0.012284,0.026153,0.071429,0.029741,NaN,NaN,NaN
mais28,0.665497,0.998101,0.965384,0.947042,0.928376,0.756122,0.988592,0.956537,0.942389,0.923071,...,0.888252,0.790903,0.885340,0.010983,0.025733,0.081270,0.038767,NaN,NaN,NaN
mais14,0.667720,0.976298,0.954097,0.925272,0.914352,0.730575,0.964674,0.941718,0.918839,0.906511,...,0.918065,0.814665,0.872778,0.009487,0.025086,0.098690,0.054667,NaN,NaN,NaN
mais7,0.661720,0.943487,0.930284,0.893461,0.889025,0.695070,0.933507,0.918473,0.888576,0.882155,...,0.946539,0.837007,0.854264,0.008015,0.024467,0.113220,0.068680,NaN,NaN,NaN
mais3,0.636934,0.887879,0.877265,0.835792,0.833178,0.638318,0.879249,0.867299,0.832622,0.828538,...,1.000000,0.884906,0.811000,0.007205,0.024102,0.115486,0.072172,NaN,NaN,NaN
mais1,0.568717,0.789610,0.780196,0.743821,0.741507,0.567581,0.783480,0.773156,0.742346,0.738732,...,0.884906,1.000000,0.727413,0.005490,0.021456,0.106024,0.062939,NaN,NaN,NaN
madw,0.738504,0.890207,0.875504,0.895307,0.886785,0.534402,0.898670,0.880336,0.909578,0.896945,...,0.811000,0.727413,1.000000,0.006185,-0.045634,0.045108,0.031970,NaN,NaN,NaN
f5,-0.034530,0.014743,0.004261,0.006832,0.001540,0.013670,0.014871,0.006040,0.008684,0.004413,...,0.007205,0.005490,0.006185,1.000000,0.248056,-0.015585,-0.017228,NaN,NaN,NaN
f6,-0.055264,0.026995,0.030038,-0.040106,-0.036374,0.027486,0.027167,0.031554,-0.035356,-0.029979,...,0.024102,0.021456,-0.045634,0.248056,1.000000,0.009686,0.039674,NaN,NaN,NaN
f7,0.113040,0.082611,0.167855,0.072098,0.146706,0.075109,0.077144,0.176252,0.067081,0.153289,...,0.115486,0.106024,0.045108,-0.015585,0.009686,1.000000,0.678195,NaN,NaN,NaN
f8,0.119380,0.041311,0.183310,0.046349,0.157264,0.025907,0.036100,0.194805,0.043374,0.166914,...,0.072172,0.062939,0.031970,-0.017228,0.039674,0.678195,1.000000,NaN,NaN,NaN
f10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
f11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
f12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
master[['unit_sales','f1_42','f2_42','f1_365','f2_365','mais']].corr()

            unit_sales     f1_42     f2_42    f1_365    f2_365      mais
unit_sales    1.000000  0.675492  0.689276  0.664995  0.678757  0.677308
f1_42         0.675492  1.000000  0.967049  0.936180  0.906837  0.979008
f2_42         0.689276  0.967049  1.000000  0.910777  0.935402  0.953476
f1_365        0.664995  0.936180  0.910777  1.000000  0.959504  0.947923
f2_365        0.678757  0.906837  0.935402  0.959504  1.000000  0.919987
mais          0.677308  0.979008  0.953476  0.947923  0.919987  1.000000

In [52]:
dates=['2017-07-01','2017-07-15','2017-08-01','2017-08-15']

for date in dates:
    a=pd.read_csv('/data/arpit.goel/33_GrocerySales/06.Master/01.Master_%s.csv'%date,index_col=['date','id','item_nbr'])
    a=a[a['unit_sales'].fillna(-1)>=0]
    a['log_sales']=np.log(1+a['unit_sales'])
    print (a.groupby('store_nbr')[['f1_42','f2_42','f3_42','mais','log_sales']].mean().T)

store_nbr        1         2         3         4         5         6   \
f1_42      1.192056  1.420085  1.933587  1.326915  1.171489  1.526121
f2_42      1.206079  1.428906  1.934128  1.329181  1.181184  1.526535
f3_42      1.198681  1.447045  1.958409  1.359639  1.189127  1.559109
mais       1.188426  1.397252  1.912328  1.313427  1.146167  1.496461
log_sales  1.479255  1.659956  2.115201  1.592595  1.496895  1.755970

store_nbr        7         8         9         10    ...           45  \
f1_42      1.565705  1.623533  1.593359  1.099732    ...     2.050297
f2_42      1.573223  1.623914  1.593337  1.111044    ...     2.051613
f3_42      1.570171  1.648417  1.625506  1.122171    ...     2.084726
mais       1.549819  1.603422  1.565696  1.069404    ...     2.024155
log_sales  1.764833  1.836749  1.837297  1.427349    ...     2.241212

store_nbr        46        47        48        49        50        51  \
f1_42      1.820625  1.981946  1.689590  1.914406  1.590293  1.597337
f2_42      1.815341  1.981048  1.686410  1.914764  1.594443  1.606022
f3_42      1.861433  2.012487  1.736585  1.935961  1.623184  1.621753
mais       1.787260  1.963149  1.656126  1.889217  1.561463  1.575020
log_sales  2.051733  2.192775  1.954768  2.117247  1.874605  1.880566

store_nbr        52        53        54
f1_42      1.563207  1.254335  1.215952
f2_42      1.567268  1.265235  1.228095
f3_42      1.589674  1.285137  1.252679
mais       1.406113  1.237400  1.180452
log_sales  1.828010  1.571544  1.562024

[5 rows x 54 columns]
store_nbr        1         2         3         4         5         6   \
f1_42      1.216261  1.426898  1.956515  1.338420  1.195202  1.539173
f2_42      1.217129  1.424316  1.949481  1.332098  1.196469  1.531663
f3_42      1.222881  1.455529  1.985525  1.371842  1.214009  1.574783
mais       1.198993  1.392637  1.928990  1.315101  1.174452  1.503917
log_sales  1.470345  1.629729  2.094316  1.570971  1.481917  1.713678

store_nbr        7         8         9         10    ...           45  \
f1_42      1.581764  1.642953  1.625947  1.143016    ...     2.060025
f2_42      1.580417  1.641157  1.612118  1.137264    ...     2.051413
f3_42      1.587335  1.670469  1.666609  1.170618    ...     2.098820
mais       1.555679  1.617129  1.590629  1.102042    ...     2.023129
log_sales  1.722458  1.808393  1.744049  1.389292    ...     2.202395

store_nbr        46        47        48        49        50        51  \
f1_42      1.833594  2.004496  1.708937  1.937321  1.607829  1.614351
f2_42      1.819344  1.995719  1.695985  1.929357  1.604572  1.611257
f3_42      1.882774  2.040386  1.762098  1.962553  1.642500  1.641878
mais       1.797612  1.975814  1.679763  1.913161  1.591183  1.595693
log_sales  2.005321  2.146151  1.912054  2.049806  1.837847  1.864748

store_nbr        52        53        54
f1_42      1.553509  1.264454  1.222005
f2_42      1.556286  1.258896  1.218026
f3_42      1.582710  1.300255  1.258643
mais       1.445056  1.245377  1.197725
log_sales  1.842391  1.557581  1.555827

[5 rows x 54 columns]
store_nbr        1         2         3         4         5         6   \
f1_42      1.204849  1.403884  1.939769  1.327676  1.197719  1.519417
f2_42      1.189040  1.381901  1.914490  1.310155  1.175500  1.496103
f3_42      1.224320  1.402873  1.935589  1.328240  1.196668  1.518370
mais       1.190174  1.404837  1.937455  1.329260  1.189378  1.513850
log_sales  1.442764  1.580481  2.050834  1.528089  1.464987  1.680875

store_nbr        7         8         9         10    ...           45  \
f1_42      1.537482  1.623442  1.570129  1.103597    ...     2.046599
f2_42      1.520767  1.602933  1.572500  1.116569    ...     2.026734
f3_42      1.539912  1.619737  1.572948  1.108842    ...     2.040205
mais       1.525709  1.621145  1.566006  1.102718    ...     2.052244
log_sales  1.698882  1.768621  1.809391  1.445476    ...     2.177796

store_nbr        46        47        48        49        50        51  \
f1_42      1.821799  1.983948  1.701817  1.902146  1.605126  1.631196
f2_42      1.797280  1.959733  1.677354  1.886245  1.581710  1.615303
f3_42      1.814941  1.976213  1.696421  1.896102  1.600950  1.630052
mais       1.827247  1.987027  1.718982  1.894617  1.604578  1.624564
log_sales  1.981607  2.118321  1.916520  2.037595  1.812370  1.842759

store_nbr        52        53        54
f1_42      1.586814  1.266517  1.236439
f2_42      1.570427  1.252885  1.253613
f3_42      1.580686  1.265966  1.245101
mais       1.531374  1.267993  1.240620
log_sales  1.828714  1.519265  1.557723

[5 rows x 54 columns]
store_nbr        1         2         3         4         5         6   \
f1_42      1.159527  1.418476  1.928364  1.325992  1.221377  1.514103
f2_42      1.139143  1.394324  1.908225  1.311986  1.198161  1.498220
f3_42      1.226092  1.361260  1.846310  1.275068  1.177449  1.450888
mais       1.135815  1.416726  1.925290  1.321539  1.195292  1.510650
log_sales  1.444947  1.510693  1.968823  1.443108  1.431274  1.624366

store_nbr        7         8         9         10    ...           45  \
f1_42      1.498355  1.624320  1.575074  1.126831    ...     2.066547
f2_42      1.480782  1.605296  1.600420  1.160445    ...     2.050537
f3_42      1.512929  1.531037  1.594395  1.150965    ...     1.945363
mais       1.501199  1.619667  1.580533  1.125688    ...     2.064776
log_sales  1.729288  1.706576  1.815208  1.435829    ...     2.043432

store_nbr        46        47        48        49        50        51  \
f1_42      1.848214  1.994999  1.764089  1.907704  1.637618  1.659931
f2_42      1.833608  1.977918  1.750722  1.891582  1.622617  1.636870
f3_42      1.715174  1.891626  1.630670  1.826480  1.557371  1.548469
mais       1.845668  1.988269  1.756194  1.907377  1.621857  1.634825
log_sales  1.847040  2.033660  1.732839  1.969213  1.723290  1.803482

store_nbr        52        53        54
f1_42      1.640098  1.304242  1.247964
f2_42      1.625004  1.294589  1.287478
f3_42      1.483587  1.204211  1.258930
mais       1.574676  1.293555  1.251426
log_sales  1.729031  1.395866  1.557785

[5 rows x 54 columns]

In [33]:
idv=['f1_28', 'f2_28', 'f3_28', 'f4_28', 'days_sold_28', 'f1_42', 'f2_42', 'f3_42', 'f4_42', 'days_sold_42', \
'f1_91', 'f2_91', 'f3_91', 'f4_91', 'days_sold_91', 'f1_182', 'f2_182', 'f3_182', 'f4_182', 'days_sold_182', \
'f1_365', 'f2_365', 'f3_365', 'f4_365', 'days_sold_365', 'last_sold', \
'mawk', 'mais', 'mais365', 'mais112', 'mais56', 'mais28', 'mais14', 'mais7', 'mais3', 'mais1', 'madw', \
'f5', 'f6', 'f7', 'f8', 'f10', 'f11', 'f12']

In [17]:
a=['mais', 'mais365', 'mais112', 'mais56', 'mais28', 'mais14', 'mais7', 'mais3', 'mais1']
master[a].isnull().sum()

mais       1822116
mais365    1822116
mais112    1822116
mais56     1822116
mais28     1822116
mais14     1822116
mais7      1822116
mais3      1822116
mais1      1822116
dtype: int64

In [2]:
dtypes = {'id':'uint32', 'item_nbr':'int32', 'store_nbr':'int8', 'unit_sales':'float32'}

train = pd.read_csv('01.RawData/train.csv', usecols=[1,2,3,4], dtype=dtypes, parse_dates=['date'],
                    skiprows=range(1, 86672217) #Skip dates before 2016-08-01
                    )

In [14]:
start_dt='2017-07-01'
START_DATE=list(map(int,start_dt.split('-')))
START_DATE=datetime(START_DATE[0],START_DATE[1],START_DATE[2])
sample=train.sample(frac=0.0001)
sample['START_DATE']=pd.Timestamp(start_dt)
sample['days_to_start_dt']=sample['date'].map(lambda x: (START_DATE-x).days)

In [15]:
    sample=sample[sample['days_to_start_dt']>0]
    sample=sample[sample['days_to_start_dt']<=365]
    sample=sample[sample['unit_sales']>0]
    sample['unit_sales'] =  sample['unit_sales'].apply(pd.np.log1p) #logarithm conversion
    sample['dow'] = sample['date'].dt.dayofweek

In [16]:
    u_dates = sample.date.unique()
    u_stores = sample.store_nbr.unique()
    u_items = sample.item_nbr.unique()
    sample.set_index(['date', 'store_nbr', 'item_nbr'], inplace=True)
    sample = sample.reindex(pd.MultiIndex.from_product((u_dates, u_stores, u_items),names=['date','store_nbr','item_nbr'])).reset_index()

In [18]:
sample['day']=sample['date'].dt.date
sample[['date','days_to_start_dt','day']].drop_duplicates()

               date  days_to_start_dt
0        2017-01-05             177.0
1        2017-01-05               NaN
114156   2017-05-15               NaN
116271   2017-05-15              47.0
228312   2017-05-16               NaN
232542   2017-05-16              46.0
342468   2017-03-20               NaN
348813   2017-03-20             103.0
456624   2016-10-22               NaN
458441   2016-10-22             252.0
570780   2016-12-11               NaN
581355   2016-12-11             202.0
684936   2016-11-24               NaN
693896   2016-11-24             219.0
799092   2017-05-08               NaN
812658   2017-05-08              54.0
913248   2017-04-20               NaN
913449   2017-04-20              72.0
1027404  2017-06-02               NaN
1046439  2017-06-02              29.0
1141560  2017-04-19               NaN
1156123  2017-04-19              73.0
1255716  2017-03-25               NaN
1258159  2017-03-25              98.0
1369872  2017-06-15               NaN
1386416  2017-06-15              16.0
1484028  2016-09-23               NaN
1486155  2016-09-23             281.0
1598184  2016-10-17               NaN
1625680  2016-10-17             257.0
...             ...               ...
36187452 2017-01-27               NaN
36227276 2017-01-27             155.0
36301608 2016-11-17               NaN
36304563 2016-11-17             226.0
36415764 2017-02-08               NaN
36457124 2017-02-08             143.0
36529920 2017-05-05               NaN
36554138 2017-05-05              57.0
36644076 2016-08-24               NaN
36645341 2016-08-24             311.0
36758232 2017-02-02               NaN
36768005 2017-02-02             149.0
36872388 2017-04-12               NaN
36894622 2017-04-12              80.0
36986544 2016-09-22               NaN
36994115 2016-09-22             282.0
37100700 2016-08-25               NaN
37101778 2016-08-25             310.0
37214856 2016-08-15               NaN
37233416 2016-08-15             320.0
37329012 2017-03-17               NaN
37356550 2017-03-17             106.0
37443168 2017-04-08               NaN
37443499 2017-04-08              84.0
37557324 2017-04-06               NaN
37573200 2017-04-06              86.0
37671480 2016-10-20               NaN
37687917 2016-10-20             254.0
37785636 2016-09-20               NaN
37789227 2016-09-20             284.0

[664 rows x 2 columns]

In [20]:
dates=sample.head(1000).date.drop_duplicates().to_frame('date')
dates.head()

        date
0 2017-01-05

In [21]:
    dates['START_DATE']=pd.Timestamp(start_dt)
    dates['days_to_start_dt']=dates['date'].map(lambda x: (START_DATE-x).days)
    dates.set_index('date',inplace=True)
    dates

           START_DATE  days_to_start_dt
date
2017-01-05 2017-07-01               177

In [22]:
pd.read_csv('05.Features/07.LeaderBoardSolutionFeatures_2017-07-01.csv').describe()

,Unnamed: 0,Unnamed: 1,"('madw', 0)","('madw', 1)","('madw', 2)","('madw', 3)","('madw', 4)","('madw', 5)","('madw', 6)",mawk,mais,mais365,mais112,mais56,mais28,mais14,mais7,mais3,mais1
count,3.850000e+05,3.850000e+05,167118.000000,167091.000000,167009.000000,167049.000000,167398.000000,167686.000000,167486.000000,169486.000000,215514.000000,215514.000000,215514.000000,215514.000000,215514.000000,215514.000000,215514.000000,215514.000000,215514.000000
mean,6.880942e+05,5.345995e+05,1.517369,1.485668,1.496506,1.434460,1.500843,1.637577,1.659255,1.528324,0.811578,0.802553,0.830866,0.830873,0.827375,0.815070,0.812546,0.763821,0.810538
std,7.480741e+05,7.153583e+05,0.678584,0.659173,0.678358,0.623444,0.678159,0.738260,0.771466,0.672744,0.885083,0.840954,0.871834,0.888857,0.900373,0.900813,0.913848,0.907686,1.022313
min,1.000000e+00,1.000000e+00,0.121332,0.144966,0.117777,0.137854,0.014889,0.139797,0.093490,0.093490,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.200000e+01,2.500000e+01,1.029047,1.016277,1.017612,0.997246,1.019134,1.092652,1.080011,1.040014,0.000000,0.059559,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.744640e+05,4.900000e+01,1.335855,1.307602,1.309602,1.265023,1.313163,1.449103,1.458382,1.345039,0.577639,0.576504,0.610047,0.596501,0.580984,0.558803,0.553029,0.462098,0.000000
75%,1.369972e+06,1.146799e+06,1.828642,1.775470,1.786011,1.695866,1.796704,2.005013,2.056271,1.832156,1.329453,1.263813,1.329621,1.344216,1.351104,1.339183,1.352803,1.290400,1.386294
max,2.124052e+06,2.124052e+06,7.341450,7.780661,8.551741,8.530346,7.967304,7.048387,7.601402,8.010427,6.466560,6.466560,6.445036,6.470423,6.399639,6.510417,6.543332,7.225211,7.865572

In [23]:
    START_DATE=list(map(int,start_dt.split('-')))
    START_DATE=datetime(START_DATE[0],START_DATE[1],START_DATE[2])

    dtypes = {'id':'uint32', 'item_nbr':'int32', 'store_nbr':'int8', 'unit_sales':'float32'}
    train = pd.read_csv('01.RawData/train.csv', usecols=[1,2,3,4], dtype=dtypes, parse_dates=['date'])
    train=train[train.date.dt.year>=2016]
    
    dates=train.date.drop_duplicates().to_frame('date')
    dates['START_DATE']=pd.Timestamp(start_dt)
    dates['days_to_start_dt']=dates['date'].map(lambda x: (START_DATE-x).days)
    dates.set_index('date',inplace=True)
    dates=dates['days_to_start_dt']
    
    train['days_to_start_dt']=train['date'].map(dates)
    train=train[train['days_to_start_dt']>0]
    train=train[train['days_to_start_dt']<=365]
    train=train[train['unit_sales']>0]
    train['unit_sales'] =  train['unit_sales'].apply(pd.np.log1p) #logarithm conversion
    train['dow'] = train['date'].dt.dayofweek

    ma_dw = train[['item_nbr','store_nbr','dow','unit_sales']].groupby(['store_nbr', 'item_nbr','dow'])['unit_sales'].mean().to_frame('madw')
    ma_wk = ma_dw.reset_index().groupby(['store_nbr', 'item_nbr'])['madw'].mean().to_frame('mawk')
    ma_dw = ma_dw.unstack()
    train.drop('dow',1,inplace=True)

    # creating records for all items, in all markets on all dates
    # for correct calculation of daily unit sales averages.
    u_dates = train.date.unique()
    u_stores = train.store_nbr.unique()
    u_items = train.item_nbr.unique()
    train.set_index(['date', 'store_nbr', 'item_nbr'], inplace=True)
    train = train.reindex(pd.MultiIndex.from_product((u_dates, u_stores, u_items),names=['date','store_nbr','item_nbr'])).reset_index()
    del u_dates, u_stores, u_items
    train['days_to_start_dt']=train['date'].map(dates)
    train.loc[:, 'unit_sales'].fillna(0, inplace=True) # fill NaNs

    #Moving Averages
    ma_is = train[['item_nbr','store_nbr','unit_sales']].groupby(['item_nbr','store_nbr'])['unit_sales'].mean().to_frame('mais')

In [24]:
ma_wk.shape

(169486, 1)

In [25]:
ma_is.shape

(215514, 1)

In [ ]:
for i in [365,112,56,28,14,7,3,1]:
    tmp = train[train.days_to_start_dt<=i]
    tmpg = tmp.groupby(['item_nbr','store_nbr'])['unit_sales'].mean().to_frame('mais'+str(i))
    print (tmpg.shape)

In [26]:
ma_dw.shape

(169486, 7)

In [27]:
pd.concat([ma_dw,ma_wk,ma_is],axis=1).shape

(385000, 9)

In [28]:
ma_dw.head()

                        madw                                          \
dow                        0         1         2         3         4
store_nbr item_nbr
1         96995     0.693147  0.693147  0.693147  0.693147  0.855333
          99197     0.946563  1.246999  0.937283  0.992769  0.946563
          103520    1.189992  1.150244  1.213186  1.241715  1.106272
          103665    1.210681  1.292710  1.288595  1.305831  1.554542
          105574    1.841651  1.865285  1.920390  1.740998  1.813025


dow                        5         6
store_nbr item_nbr
1         96995     1.039721  0.693147
          99197     1.202972  0.866918
          103520    1.082830  0.794513
          103665    1.566172  1.053395
          105574    1.498494  1.066108

In [29]:
ma_wk.head()

                        mawk
store_nbr item_nbr
1         96995     0.765827
          99197     1.020010
          103520    1.111250
          103665    1.324561
          105574    1.677993

In [56]:
a=pd.read_csv('05.Features/03.Item_Store_RegMeans_2017-07-01_42.csv')['first_date'].value_counts().sort_index(ascending=False)
a.cumsum()/a.sum()

547    0.010070
546    0.592406
545    0.661719
544    0.686233
543    0.700711
542    0.711039
541    0.718015
540    0.724140
539    0.729920
538    0.734339
537    0.737082
536    0.739339
535    0.741449
534    0.743243
533    0.745277
532    0.747405
531    0.749234
530    0.750617
529    0.751895
528    0.753401
527    0.754826
526    0.756455
525    0.757973
524    0.759163
523    0.760042
522    0.760740
521    0.761543
520    0.762223
519    0.763143
518    0.764321
         ...
30     0.994637
29     0.994883
28     0.995088
27     0.995358
26     0.995487
25     0.995668
24     0.995809
23     0.995932
22     0.996120
21     0.996395
20     0.996653
19     0.996788
18     0.996934
17     0.997128
16     0.997263
15     0.997509
14     0.997755
13     0.997931
12     0.998030
11     0.998212
10     0.998376
9      0.998540
8      0.998787
7      0.999109
6      0.999343
5      0.999478
4      0.999601
3      0.999713
2      0.999824
1      1.000000
Name: first_date, dtype: float64